:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}

#bottom {
    flex-grow: 0;
    margin: auto;
    margin-top: 0;
    &>app-board {
        margin: auto;
        height: 100%;
        border: 1px solid white;
        border-top: none;
    }
}

#top {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 0;
    position: relative;
    overflow: visible;
    &>span {
        white-space: nowrap;
        font-size: 150%;
        text-align: center;
        display: block;
        margin: auto auto auto 0;
    }
    &>img {
        float: right;
        cursor: pointer;
    }
    &>div {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 1;
        &>app-burger-menu {}
    }
}