:host {
    width: 100%;
}

h1 {
    margin-top: 15px;
}

.button {
    margin: auto;
    margin-top: 8px;
    width: 210px;
}

img {
    width: 150px;
    margin: auto;
    display: block;
    margin-top: 60px;
}