<h1>Levels</h1>
<span id="topContainer"><span>Hide Complete</span><input (click)="toggleHideComplete()" [checked]="hideComplete" type="checkbox"></span>
<div id="container">
    <div class="level" *ngFor="let n of getRange()">
        <div class="header">Level {{n}}</div>
        <div class="starContainer">
            <img *ngFor="let i of starCount(n)" src="assets/images/fullStar.svg" />
            <img *ngFor="let i of invertedStarCount(n)" src="assets/images/emptyStar.svg" />
        </div>
        <button class="button" [disabled]="!isPlayable(n)" (click)="play(n)">Play</button>
    </div>
</div>